{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un cours</h1>
    <div>
        {# Afficher le formulaire #}
        {{ form(courseForm) }}

        {#2ieme façon#}
        {#{{ form_start(courseForm) }}
        {{ form_widget(courseForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(courseForm) }}#}
    </div>
{% endblock %}

{% block title %}Créer un cours | {{ parent() }}{% endblock %}