{% extends 'base.html.twig' %}

{% block title %}Test MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>TEST ✅</h1>
    <p>une page de Test</p>
    {# Créer une variable ! #}
    {% set name="toto" %}
    <h2>{{ name | upper}}</h2>
    <h2>{{ name | length}}</h2>

    {#  Créer un Objet #}
    {% set book = {
        title: 'Symfony',
        year: 2000,
        author:'John Doe'
    }
    %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key,val in book %}
        <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>

    {# Création d'un tableau #}
    {% set colors=["orange","brown","turquoise","blue"] %}
    <p>Nombre de couleurs : {{ colors | length }}</p>
    <p>{{ colors | join(' / ') }}</p>
    {% for color in colors %}
        <div style="background-color:{{ color }}">{{ loop.index }} {{ color }}</div>
    {% endfor %}

    <p>{{ "+1 year"|date('Y') }}</p>
    <h3>Affichage des variables du contoleur</h3>
    <p>{{ mySerie.title }} - {{ autreVar }}</p>
    <p>{{ mySerie.monScript }}</p>

    <p>{{ mySerie.monScript | raw}}</p>
    <p>{{ mySerie.title | raw}}</p>
</div>
{% endblock %}
